.input-area{

position:relative;

}


.input-area textarea{

padding-right:60px;

}



.input-area button{

position:absolute;

right:10px;

bottom:10px;

width:45px;

height:45px;

padding:0;

border-radius:50%;

font-size:22px;

}
