*{

box-sizing:border-box;

font-family:
system-ui,
"Sarabun",
sans-serif;

}


body{

margin:0;

background:#fff5fa;

color:#333;

}



.container{

max-width:1000px;

margin:auto;

padding:25px;

}



header{

text-align:center;

margin-bottom:35px;

}



header h1{

font-size:36px;

color:#ec6fa9;

}



header p{

color:#777;

}



.translator{

display:flex;

align-items:center;

gap:20px;

}



.box{

background:white;

padding:25px;

border-radius:30px;

flex:1;

box-shadow:
0 10px 30px rgba(236,111,169,.15);

}



h2{

font-size:22px;

}



textarea{

width:100%;

height:220px;

border:none;

border-radius:25px;

padding:20px;

font-size:20px;

background:#fff0f6;

resize:none;

}



textarea:focus{

outline:3px solid #ff9acb;

}



button{

border:none;

border-radius:20px;

padding:15px 20px;

background:

linear-gradient(
135deg,
#ff9acb,
#ec6fa9
);

color:white;

font-size:16px;

cursor:pointer;

}



.buttons{

margin-top:15px;

}



.switch{

width:70px;

height:70px;

font-size:32px;

}



.box button{

width:100%;

margin-top:15px;

}



#info{

margin-top:15px;

text-align:center;

color:#ec6fa9;

font-size:14px;

}



footer{

text-align:center;

margin-top:40px;

color:#999;

}



@media(max-width:700px){


.translator{

flex-direction:column;

}


.box{

width:100%;

}


.switch{

transform:none;

}

}